html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.ps-container, .ps-page {
    height: 100%;
    position: relative;
}

/*分页*/
.ps-paging {
    position:fixed;
    list-style: none;
}
.ps-paging.ps-paging-v {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.ps-paging.ps-paging-h {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.ps-paging li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #FFFE00;
    background: none;
    cursor: pointer;
}
.ps-paging.ps-paging-v li {
    margin: 0 0 10px 5px;
}
.ps-paging.ps-paging-h li {
    margin: 0 10px 5px 0;
    float: left;
}
.ps-paging li:hover {
    background: #fff;
}
.ps-paging li.paging-active {
    width: 10px;
    height: 10px;
    background: #fff;
}