html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.ps-container, .ps-page {
    height: 100%;
    position: relative;
}

/*分页*/
.ps-paging {
    position:fixed;
    list-style: none;
    z-index: 9999;
}
.ps-paging.ps-paging-v {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.ps-paging.ps-paging-h {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.ps-paging li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: none;
}
.ps-paging.ps-paging-v li {
    margin: 0 0 20px 5px;
}
.ps-paging.ps-paging-h li {
    margin: 0 20px 5px 0;
    float: left;
}
.ps-paging li:hover {
    background: #ffffff;
}
.ps-paging li.paging-active {
    width: 10px;
    height: 10px;
    background: #fff;
    animation: box-shadow-change 3s linear 0s infinite alternate;
}
@keyframes box-shadow-change {
    0% {
        box-shadow: 0 0 5px 0 rgb(100, 100, 100);
    }
    20% {
        box-shadow: 0 0 5px 1px rgb(120, 120, 120);
    }
    40% {
        box-shadow: 0 0 5px 2px rgb(140, 140, 140);
    }
    60% {
        box-shadow: 0 0 5px 3px rgb(160, 160, 160);
    }
    80% {
        box-shadow: 0 0 5px 4px rgb(180, 180, 180);
    }
    100%{
        box-shadow: 0 0 5px 5px rgb(200, 200, 200);
    }
}