h1 {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial,"Microsoft YaHei","Hiragino Sans GB",sans-serif;
}
h1 {
    font-size: 6em;
    font-weight: normal;
}
p {
    font-size: 2em;
    margin:0.5em 0 2em 0;
}

#section0,
#section1,
#section2,
#section3 {
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
}
#section0 {
    background-image: url(../img/1.jpg);
    color: #fff;
    text-shadow:1px 1px 1px #333;
}
#section1 {
    color: #fff;
    text-shadow:1px 1px 1px #333;
    background-image: url(../img/2.jpg);
}
#section2 {
    background-image: url(../img/3.jpg);
    color: #fff;
    text-shadow:1px 1px 1px #666;
}
#section3 {
    color: #008283;
    background-image: url(../img/4.jpg);
    text-shadow:1px 1px 1px #fff;
}
#section0 p {
    color: #F1FF00;
}
#section3 p {
    color: #00A3AF;
}
.intro {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}
.ps-h-page.ps-active .title {
    transform: translateY(-2000%);
    animation: sectitle-h 1s ease-in-out 100ms forwards;
}
.ps-h-page.ps-active p{
    transform: translateY(2000%);
    animation: sec-h 1s ease-in-out 100ms forwards;
}
.ps-v-page.ps-active .title {
    transform: translateX(-100%);
    animation: sectitle-v 1s ease-in-out 100ms forwards;
}
.ps-v-page.ps-active p{
    transform: translateX(100%);
    animation: sec-v 1s ease-in-out 100ms forwards;
}
@keyframes sectitle-v {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes sec-v{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes sectitle-h {
    0%{
        transform: translateY(-2000%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes sec-h{
    0%{
        transform: translateY(2000%);
    }
    100%{
        transform: translateY(0);
    }
}
